.city-details-container {
    margin: 10px 220px;
    @media screen and (max-width: 1090px) {
        margin: 10px 100px;
    }
    @media screen and (max-width: 768px) {
        margin: 10px 30px;
    }
    @media screen and (max-width: 375px) {
        margin: 10px 10px;
    }

    
    .details-now {
        background-color: #4B9EC1;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 20px 30px;
        @media screen and (max-width: 768px) {
            justify-content: space-between;
            padding: 5px 5px 10px;
        }
        .left-side {
            display: flex;
            justify-content: space-around;
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            .city-details {
                .city-name {
                    font-size: 35px;
                    // height + padding are same as the height of the icon (75px)
                    height: 60px;
                    line-height: 60px;
                    padding-bottom: 15px;
                    text-align: center;
                }
                .description {
                    font-size: 24px;
                    color: #E2DFDC;
                }
                @media screen and (max-width: 768px) {
                    padding: 5px;
                    .city-name {
                        font-size: 28px;
                        padding-bottom: 5px;
                    }
                    .description {
                        font-size: 20px;
                    }
                }
            }
            .sun-details {
                margin-top: 10px;
                .sunrise {
                    align-items: center;
                    display: flex;
                    img {
                        filter: invert(1);
                        height: 30px;
                    }
                    div {
                        margin: 10px;
                    }
                }
                .sunset {
                    align-items: center;
                    display: flex;
                    img {
                        filter: invert(1);
                        height: 30px;
                    }
                    div {
                        margin: 10px;
                    }
                }
                @media screen and (max-width: 768px) {
                    padding: 10px 5px 5px;
                }
            }
        }
        .right-side {
            display: flex;
            justify-content: space-around;
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            .other-details {
                margin-top: 10px;
                .humidity {
                    align-items: center;
                    display: flex;
                    img {
                        filter: invert(1);
                        height: 30px;
                    }
                    div {
                        margin: 10px;
                    }
                }
                .wind {
                    align-items: center;
                    display: flex;
                    img {
                        filter: invert(1);
                        height: 30px;
                    }
                    div {
                        margin: 10px;
                    }
                }
                @media screen and (max-width: 768px) {
                    padding: 10px 5px 5px;
                }
            }
            .temp-details {
                .icon {
                    height: 75px;
                    width: 75px;
                    img {
                        height: 75px;
                        width: 75px;
                    }
                }
                .temp {
                    font-size: 24px;
                    text-align: center;
                }
                @media screen and (max-width: 768px) {
                    padding: 5px;
                    .temp {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .hourly-list {
        margin: 20px 0;
        .hourly-item {
            margin-bottom: 10px;
            .date {
                margin: 5px;
                font-size: 16px;
                padding-left: 5px;
            }
            .hourly-details {
                background-color: #4B9EC1;
                border-radius: 8px;
                display: flex;
                // justify-content: space-around;
                padding: 0 20px 20px;
                @media screen and (max-width: 768px) {
                    justify-content: space-between;
                    // ok this is a hacking way to 
                    // manage the padding with the icon pic
                    padding: 10px 10px 15px 10px;
                }
                .description-time {
                    width: 50%;
                    text-align: center;
                    @media screen and (max-width: 768px) {
                        text-align: left;
                        padding-left: 15px;
                    }
                    .time {
                        font-size: 30px;
                        height: 75px;
                        line-height: 75px;
                    }
                    .description {
                        font-size: 24px;
                        color: #E2DFDC;
                    }
                }
                .temp-details {
                    width: 50%;
                    .icon {
                        margin: 0 auto;
                        height: 75px;
                        width: 75px;
                        @media screen and (max-width: 768px) {
                            margin: 0;
                            margin-left: auto;
                            margin-right: 0;
                            padding-right: 5px;
                        }
                        img {
                            height: 75px;
                            width: 75px;
                        }
                    }
                    .temp {
                        font-size: 24px;
                        text-align: center;
                        @media screen and (max-width: 768px) {
                            text-align: right;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

.error-response {
    padding: 20px;
    border-radius: 8px;
    background-color: #415464;
    text-align: center;
    h2 {
        color: #D13D17;
    }
    h3 {
        color: #E2DFDC;
    }
}

