.item-container {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #4B9EC1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    transition: background-color 1s;
    &:hover {
        background-color: #4B9EC1;
    }
    > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
            margin: 10px;
        }
    }
    .city-name {
        width: 120px;
    }
    .current-temp {
        img {
            height: 75px;
            width: 75px;
            margin: 0;
        }
    }
    .wind-speed {
        img {
            filter: invert(1);
            height: 30px;
        }
    }
}