/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oleo+Script|Roboto+Condensed&display=swap');

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #5BC0EB;
  color: #ffffff;
}
